.cache
*/__pycache__*
*.pyc

src/frontend/dist
src/frontend/coverage
src/frontend/cache

# Elastic Beanstalk Files
eb/staging/.elasticbeanstalk/*
!./eb/staging/.elasticbeanstalk/*.cfg.yml
!./eb/staging/.elasticbeanstalk/*.global.yml
